.profile {
    text-align: center;
    padding: 20px;
    border: 1px solid #9e9e9e;
    width: 300px;
    margin: 0 auto;
}

.profile > img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile h2 {
    font-size: 24px;
    color: darkblue;
}

.profile p {
    font-size: 16px;
    color: gray;
}

.profile a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}