body{
    background-color: burlywood;
}
p::first-line {
    font-weight: bold; /* برجسته کردن خط اول */
    color: darkblue;
}

::selection {
    background-color: yellow; /* تغییر رنگ متن انتخاب شده */
    color: black;
}